<div class="login-popup">
  <form id="sign-up-form" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="user[name]" placeholder="e.g., joe" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g., me@example.com" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="6 or more characters">
 <div class="buttons">
    <a class="submit">Submit</a>
    <a class="close">Close</a>
  </div>
  </form>

</div>
